@import '~lbh-frontend/lbh/base';

.mtfh-cautionary-alerts {
  h2 {
    margin-bottom: 0.5rem;
  }

  & > p {
    margin-top: 0
  }

  a {
    margin-bottom: 20px;
  }

  .person-link {
    font-weight: 600;
  }
}
