{
  "extends": "@hackney/eslint-config",
  "rules": {
    "import/order": [
      "error",
      {
        "groups": [
          ["builtin", "external"],
          ["parent", "internal", "sibling", "index"]
        ],
        "pathGroups": [
          {
            "pattern": "@pb/**",
            "group": "internal"
          }
        ],
        "alphabetize": {
          "order": "desc"
        }
      }
    ]
  }
}
