@import '~lbh-frontend/lbh/base';

#new-property-form {
    input, select {
        width: 500px;
    }
}

.new-property-form-actions {
    button, a {
        width: 240px;
    }
}

#submit-new-property-button {
    margin-right: 20px;
}