@import '~lbh-frontend/lbh/base';



.new-property-form-actions {

    button,
    a {
        width: 240px;
    }
}

.patch {
    display: flex;
}

.patch-remove-link {
    margin-left: 10px;
    margin-top: 0px;
    font-size: 16px !important;
}

#new-property-form {

    input,
    select {
        width: 500px;
    }
}

#submit-new-property-button {
    margin-right: 20px;
}

#patch-add-link {
    font-size: 16px !important;
}

#property-patches-container {
    margin-top: 0;
}

#new-property-disclaimer {
    margin-top: 28.5px;
}